@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<style>
</style>
<ul id="messages">
  <li>test</li>
  <li>test</li>
  <li>test</li>
</ul>
<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>